[Desktop Entry]
Name=AisleRiot Solitaire
Name[af]=AisleRiot-patience
Name[ar]=صولتار آيسل رايوت
Name[as]=Aisleriot সলিটেয়াৰ
Name[az]=AisleRiot Solitaire
Name[bg]=Пасианси
Name[bn]=এইসলরায়োট সলিটেয়ার
Name[bn_IN]=AisleRiot Solitaire
Name[ca]=Solitari AisleRiot
Name[cs]=Solitaire AisleRiot
Name[cy]=Amynedd AisleRiot
Name[da]=Kabale
Name[de]=AisleRiot Solitaire
Name[dz]=ཨེསི་ལི་རིའོཊི་ སོ་ལི་ཊེར
Name[el]=Πασιέντζα AisleRiot
Name[en_CA]=AisleRiot Solitaire
Name[en_GB]=AisleRiot Solitaire
Name[es]=Solitario AisleRiot
Name[et]=AisleRiot Solitaire
Name[eu]=AisleRiot bakar-jokoa
Name[fa]=بازی با ورق تک نفره‌‌ی AisleRiot
Name[fi]=Aisleriot-pasianssi
Name[fr]=Solitaire AisleRiot
Name[ga]=Solitaire AisleRiot
Name[gl]=Solitario AisleRiot
Name[gu]=AisleRiot Solitaire
Name[he]=סוליטר AisleRiot
Name[hi]=एस्लेरियॉट सॉलिटेयर
Name[hr]=AisleRiot pasijans
Name[hu]=AisleRiot pasziánsz
Name[id]=Solitaire AisleRiot
Name[is]=AisleRiot kapall
Name[it]=Solitario AisleRiot
Name[ja]=AisleRiot ソリティア
Name[kn]=ಐಲ್‌ರಿಯಾಟ್ ಸಾಲಿಟೇರ್
Name[ko]=아일라이어트 솔리테어
Name[lt]=AisleRiot pasjansas
Name[lv]=AisleRiot Solitaire
Name[mai]=एस्लेरियॉट सॉलिटेयर
Name[mk]=AisleRiot Solitaire
Name[ml]=അയില്‍റയട്ട് സോളിറ്റെയര്‍
Name[mn]=АйслеРойт хөзөр
Name[mr]=एसलरायट सॉलिटेयर
Name[ms]=Solitaire AisleRiot
Name[nb]=AisleRiot Solitaire
Name[ne]=एस्लेरिओट सोलिटेइर
Name[nl]=AisleRiot Solitaire
Name[nn]=AisleRiot kabal
Name[oc]=Solitari AisleRiot
Name[or]=ଆଇଜଲେରିଓଟ ସିଲିଟେଯର
Name[pa]=ਇਸਲੀਰੀਉਟ ਸੋਲੀਟਾਇਰ
Name[pl]=Pasjans AisleRiot
Name[pt]=Solitário AisleRiot
Name[pt_BR]=Paciência AisleRiot
Name[ro]=AisleRiot Solitaire
Name[ru]=Пасьянс Айслериот
Name[sk]=Solitér AisleRiot
Name[sl]=Pasjansa AisleRiot
Name[sq]=Solitaire AisleRiot
Name[sr]=Пасијанс
Name[sr@latin]=Pasijans
Name[sv]=AisleRiot-patiens
Name[ta]=எய்ல்ரயட் சாலிடேர்
Name[te]=ఆయ్సిల్రియట్ సొలటైర్
Name[th]=ถอดไพ่ AisleRiot
Name[tr]=AisleRiot İskambil Falı
Name[uk]=Пасьянс AisleRiot
Name[vi]=AisleRiot Solitaire
Name[wa]=AisleRiot Solitaire
Name[xh]=I-AisleRiot Solitaire
Name[zh_CN]=AisleRiot 纸牌
Name[zh_HK]=AisleRiot 接龍遊戲
Name[zh_TW]=AisleRiot 接龍遊戲
Comment=Play many different solitaire games
Comment[af]=Speel baie verskillende soorte patience
Comment[ar]=إلعب ألعاب صولتار عديدةً مختلفة
Comment[as]=বিভিন্নৰকম সলিটেয়াৰ খেলক
Comment[az]=Birdən çox fərqli solitaire oyununu oynayın
Comment[bg]=Игра с голям набор от пасианси
Comment[bn]=বিভিন্নরকম সলিটেয়ার খেলুন
Comment[bn_IN]=বিভিন্ন ধরনের সলিটেয়ার খেলুন
Comment[ca]=Jugueu a molts jocs de solitari diferents
Comment[cs]=Zahraje mnoho různých her typu solitaire
Comment[cy]=Chwarae nifer o gemau amynedd gwahanol
Comment[da]=Spil mange forskellige kortspil
Comment[de]=Viele verschiedene Solitaire-Spiele spielen
Comment[dz]=སོ་ལི་ཊེར་རྩེདམོ་མ་འདྲཝ་ ལེ་ཤ་རྩེ།
Comment[el]=Παίξτε πολλά διαφορετικά παιχνίδια πασιέντζας
Comment[en_CA]=Play many different solitaire games
Comment[en_GB]=Play many different solitaire games
Comment[es]=Juegue a diferentes solitarios
Comment[et]=Palju erinevaid kaardiladumismänge
Comment[eu]=Jolastu hainbat bakar-joko
Comment[fa]=بازی‌های مختلف یک نفره بازی کنید
Comment[fi]=Pelaa monia erilaisia pasiansseja
Comment[fr]=Jouer à plusieurs jeux de solitaire différents
Comment[gl]=Xogar a moitos solitarios diferentes
Comment[gu]=ઘણી બધી અલગ સોલિટૅર રમત રમો
Comment[he]=שחק הרבה משחקי סוליטר שונים
Comment[hi]=भिन्न प्रकार के सॉलिटेयर खेल खेलें
Comment[hr]=Igraj više različitih varijanti pasijansa
Comment[hu]=Sok különféle pasziánszjáték
Comment[id]=Mainkan bermacam permainan solitaire yang berbeda
Comment[is]=Spila marga ólíka kapla
Comment[it]=Gioca differenti tipi di solitari
Comment[ja]=いろいろなソリティア・ゲームを楽しんで下さい
Comment[kn]=ಅನೇಕ ಬಗೆಯ ಸಾಲಿಟೇರ್ ಆಟವನ್ನು ಆಡು
Comment[ko]=여러가지 솔리테어 게임을 플레이합니다
Comment[lt]=Žaisti įvairius pasjansų žaidimus
Comment[lv]=Spēlē daudz dažādas solitaire spēles
Comment[mai]=भिन्न प्रकार क' सॉलिटेयर खेल खेलू
Comment[mk]=Играјте различни игри со карти
Comment[ml]=പലതരം സോളിറ്റെയര്‍ കളികള്‍ കളിക്കുക
Comment[mn]=Өөр олон хөзрийн тоглоомууд тоглох
Comment[mr]=अनेक वेगवेगळे सॉलिटेयर खेळ खेळा
Comment[ms]=Main pelbagai jenis permainan solitaire
Comment[nb]=Spill mange forskjellige solitaire-spill
Comment[ne]=विभिन्न सोलिटेइर खेल खेल्नुहोस्
Comment[nl]=Een groot aantal verschillende vormen van solitaire
Comment[nn]=Spel mange ulike kabalar
Comment[or]=ଅନେକ ଭିନ୍ନ ଭିନ୍ନ ସଲିଟେଯାର ଖେଳ ଗୁଡିକୁ ଖେଳ
Comment[pa]=ਕਈ ਹੋਰ ਸੋਲੀਟਾਇਰ ਖੇਡ ਖੇਡੋ
Comment[pl]=Zbiór różnych pasjansów
Comment[pt]=Jogue muitos jogos solitários diferentes
Comment[pt_BR]=Jogue muitos jogos diferentes de paciência
Comment[ro]=Jucați numeroase forme de solitaire
Comment[ru]=Позволяет играть во много разных пасьянсов
Comment[sk]=Hrať veľa rôznych solitérových hier
Comment[sl]=Igrajte več različnih iger pasjanse
Comment[sq]=Lojra të shumta solitaire
Comment[sr]=Играј више различитих варијанти пасијанса
Comment[sr@latin]=Igraj više različitih varijanti pasijansa
Comment[sv]=Spela många olika patiensspel
Comment[ta]=பல வித சாலிடேர் விளையாட்டை விளையாடு
Comment[th]=เล่นเกมถอดไพ่สารพัดแบบ
Comment[tr]=Farkli iskambil falı oyunlarını oynayın
Comment[uk]=Дозволяє грати у багато різних пасьянсів
Comment[vi]=Chơi nhiều trò chơi solitaire khác nhau
Comment[xh]=Dlala imidlalo emininzi eyahlukeneyo ye-solitaire
Comment[zh_CN]=玩多种不同的纸牌游戏
Comment[zh_HK]=玩不同類型的接龍遊戲
Comment[zh_TW]=玩不同類型的接龍遊戲
Exec=sol
Icon=gnome-aisleriot
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;CardGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.27.2
StartupNotify=true
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=org.gnome.Games.AisleRiot
X-Osso-Type=application/x-executable
