[Desktop Entry]
Name=Gnometris
Name[ar]=جنومترس
Name[as]=গনোমট্ৰিস
Name[az]=Gnometris
Name[be]=Gnometris
Name[bg]=Тетрис
Name[bn]=গনোমট্রিস
Name[bn_IN]=গনোমট্রিস
Name[ca]=Gnometris
Name[cs]=Gnometris
Name[cy]=Gnometris
Name[da]=Gnometris
Name[de]=GNOMEtris
Name[dz]=ཇི་ནོ་མི་ཊིསི།
Name[el]=Gnometris
Name[en_CA]=Gnometris
Name[en_GB]=Gnometris
Name[es]=GNOMEtris
Name[et]=Gnometris
Name[eu]=Gnometris
Name[fa]=گنومتریس
Name[fi]=Gnometris
Name[fr]=Gnometris
Name[ga]=Gnometris
Name[gl]=Gnometris
Name[gu]=જીનોમટ્રીસ
Name[he]=Gnometris
Name[hi]=गनोमेट्रिस
Name[hr]=Gnometris
Name[hu]=Gnometris
Name[id]=Gnometris
Name[is]=Gnometris
Name[it]=Gnometris
Name[ja]=GNOMEトリス
Name[kn]=ಗ್ನೋಮೆಟ್ರಿಸ್
Name[ko]=그놈 테트리스
Name[lt]=Gnometris
Name[lv]=Gnometris
Name[mai]=गनोमेट्रिस
Name[mk]=Gnometris
Name[ml]=ഗ്നോമെട്രിസ്‌
Name[mn]=Тетрес
Name[mr]=ग्नोमेट्रीस्
Name[ms]=Gnometris
Name[nb]=Gnometris
Name[ne]=ग्नोमेट्रिस
Name[nl]=Gnometris
Name[nn]=Gnometris
Name[oc]=Gnometris
Name[or]=ଜେନୋମେଟ୍ରିକ୍ସ
Name[pa]=ਗਨੋਮੈਟਰਿਸ
Name[pl]=Gnometris
Name[pt]=Gnometris
Name[pt_BR]=Gnometris
Name[ro]=Gnometris
Name[ru]=Гнометрис
Name[sk]=Gnometris
Name[sl]=Gnometris
Name[sq]=Gnometris
Name[sr]=Гном тетрис
Name[sr@latin]=Gnom tetris
Name[sv]=Gnometris
Name[ta]=க்னோமெட்ரிஸ்
Name[te]=గ్నోమెట్రిస్
Name[th]=Gnometris
Name[tr]=Gnometris
Name[uk]=Тетріс
Name[vi]=Gnometris
Name[wa]=Gnometris
Name[xh]=I-Gnometris
Name[zh_CN]=Gnome 方块
Name[zh_HK]=GNOME 俄羅斯方塊
Name[zh_TW]=GNOME 俄羅斯方塊
Comment=Fit falling blocks together
Comment[ar]=ملائمة القوالب المتساقطة بعظها لبعض
Comment[as]=পড়ন্ত ব্লকগুলোকে একত্ৰে ৰাখো
Comment[az]=Düşən bloku bərabər tut
Comment[bg]=Нареждане на падащи блокчета
Comment[bn]=পড়ন্ত ব্লকগুলোকে একত্রে রাখো
Comment[bn_IN]=পড়ন্ত ব্লকগুলোকে একত্রে রাখো
Comment[ca]=Col·loqueu junts els blocs que caiguin
Comment[cs]=Skládat padací bloky dohromady
Comment[cy]=Ffitio blociau sy'n cwympo gyda'i gilydd
Comment[da]=Anbring faldende blokke så de passer sammen
Comment[de]=Fallende Blöcke zusammenfügen
Comment[dz]=འབུད་དེ་འོང་མི་ལེབ་དུམ་ཚུ་ཚུད་སྒྲིག་འབད།
Comment[el]=Ταιριάξτε τους κύβους που πέφτουν
Comment[en_CA]=Fit falling blocks together
Comment[en_GB]=Fit falling blocks together
Comment[es]=Encaje los bloques que se caen
Comment[et]=Langevate klotside omavaheline kokkusobitamine
Comment[eu]=Kokatu erortzen diren blokeak
Comment[fa]=جور کردن بلوک‌های در حال سقوط با یکدیگر
Comment[fi]=Sovita putoavat palikat yhteen
Comment[fr]=Faire correspondre les blocs qui tombent
Comment[gl]=Encaixe os bloques que caen
Comment[gu]=નીચે પડતા ઘનને જોડે બેસાડો
Comment[he]=סדר לבנים נופלות
Comment[hi]=गिरते पिण्डों को आपस में जमाएँ
Comment[hr]=Postavi padajuće blokove skupa
Comment[hu]=Lehulló blokkok egymáshoz illesztése
Comment[id]=Paskan blok jatuh bersamaan
Comment[is]=Fella fallandi steina saman
Comment[it]=Raggruppa insieme i blocchi che cadono
Comment[ja]=落ちてくるブロックを組み合わせて消し去って下さい
Comment[kn]=ಬೀಳುತ್ತಿರುವ ಇಟ್ಟಿಗೆಗಳನ್ನು ಸರಿಯಾಗಿ ಜೋಡಿಸಿ
Comment[ko]=떨어지는 블록을 맞춥니다
Comment[lt]=Priderinkite krentančius blokus vieną prie kito
Comment[lv]=Salikt krītošos blokus kopā
Comment[mai]=गिरैत पिण्डकेँ आपसमे जमाउ
Comment[mk]=Спојте ги заедно циглите кои паѓаат
Comment[ml]=വീഴുന്ന ബ്ലോക്കുകള്‍ ഒരുമിച്ച് വയ്ക്കുക
Comment[mr]=पडणारे ठोकळे एकत्र बसवा
Comment[nb]=Få fallende blokker til å passe sammen
Comment[ne]=सँगैसँगै झर्ने खण्डलाई मिलाउनुहोस्
Comment[nl]=De vallende blokken goed op elkaar stapelen
Comment[nn]=Sett fallande klossar ihop
Comment[or]=ୟୋଗ୍ଯ ଏକତ୍ର ପଡୁଥିବା ପଥର
Comment[pa]=ਡਿੱਗਦੇ ਬਲਾਕਾਂ ਨੂੰ ਇੱਕਠੇ ਕਰਕੇ ਫਿੱਟ ਕਰੋ
Comment[pl]=Dopasowywanie spadających bloków
Comment[pt]=Encaixar blocos em queda
Comment[pt_BR]=Encaixe blocos que estão caindo
Comment[ro]=Potrivește blocurile care cad
Comment[ru]=Укладывайте падающие блоки вместе
Comment[sl]=Prilagodi padajoče like skupaj
Comment[sq]=Përshtat blloqet që bien bashkë
Comment[sr]=Састављај падајуће блокове
Comment[sr@latin]=Sastavljaj padajuće blokove
Comment[sv]=Passa ihop fallande klossar
Comment[ta]=பொருத்தமான ஒன்றாக விழும் பகுதிகள்
Comment[th]=เรียงบล็อกที่หล่นให้ต่อกันสนิท
Comment[tr]=Düşen blokları bir araya oturt
Comment[uk]=Складання блоків, що падають
Comment[vi]=Khớp khối đang rơi xuống
Comment[xh]=Dibanisa iibhloko eziwayo
Comment[zh_CN]=将下落的方块组合在一起
Comment[zh_HK]=將不同形狀而且不斷跌下的方塊拼合在一起
Comment[zh_TW]=將不同形狀而且不斷跌下的方塊拼合在一起
Icon=gnome-gnometris
Exec=gnometris
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;BlocksGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.27.2
StartupNotify=true
